<div style="width:80%;margin:0 auto;">
	<% name ||= "Crear" %>  <!-- esto inicializa la varibale name con un valor default-->
	<h1><%= name %> publicación</h1>
	<%= render "form"%>  <!-- lo busca en la misma carpeta -->
</div>